.questionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  color: var(--fifthColor);
  min-height: 60vh;
}

@media only screen and (max-width: 400px) {
  .questionsContainer {
    padding: 20px;
  }
}

.questionsOptionsContainer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .questionsOptionsContainer {
    flex-direction: column;
    align-items: center;
  }
}

.statsContainer {
  background-color: var(--primaryColor);
  color: var(--fifthColor);
  width: fit-content;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.quizMainContent {
  background-color: var(--primaryColor);
  border-radius: 20px;
  max-width: 850px;
  padding: 30px;
  font-size: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quizMainContentQuestionAndOptions {
  padding-bottom: 40px;
}

.quizMainContentQuestionAndOptions h1 {
  padding-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
  .quizMainContent {
    max-width: 450px;
    font-size: 8px;
    padding: 20px;
  }
}

.questionsButton {
  background-color: var(--secondaryColor);
  color: var(--fifthColor);
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: auto;
  width: 150px;
}

@media only screen and (max-width: 1200px) {
  .questionsButton {
    width: 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .questionsButton {
    width: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .questionsButton {
    width: 150px;
  }
}

.SecondsLeft {
  padding-bottom: 30px;
  color: var(--thirdColor);
}

.questionsButtonStart {
  background-color: var(--primaryColor);
  color: var(--fifthColor);
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  font-size: 20px;
}

.questionsButtonStart:hover {
  background-color: var(--secondaryColor);
  transition: 0.3s;
}

.questionsButtonSubmit {
  background-color: var(--secondaryColor);
  color: var(--fifthColor);
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}

.questionsButtonSubmit:hover {
  background-color: var(--thirdColor);
  transition: 0.3s;
}

.questionsButton.selected {
  background-color: var(--thirdColor);
  color: var(--fifthColor);
  opacity: 1;
}

.questionsButton.correct:disabled {
  cursor: default;
  opacity: 0.6;
  background-color: green;
}

.questionsButton.incorrect:disabled {
  cursor: default;
  opacity: 0.6;
  background-color: red;
}

.questionsButton:hover:not(.selected):not(:disabled) {
  background-color: var(--thirdColor);
  transition: 0.3s;
}

.errorText {
  padding-top: 20px;
  color: var(--thirdColor);
}

.endScreenContainer {
  color: var(--thirdColor);
}

.correctAnswer {
  color: var(--secondaryColor);
}
