.questionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  flex-wrap: wrap;
  max-width: 950px;
  text-align: center;
  margin: auto;
  color: var(--thirdColor);
  min-height: 60vh;
}

.questionsOptionsContainer {
  display: flex;
  justify-content: center;
}

.statsContainer {
  background-color: var(--primaryColor);
  color: var(--fifthColor);
  width: fit-content;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.questionsButton {
  background-color: var(--primaryColor);
  color: var(--fifthColor);
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

.questionsButtonStart {
  background-color: var(--primaryColor);
  color: var(--fifthColor);
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  font-size: 20px;
}

.questionsButtonStart:hover {
  background-color: var(--secondaryColor);
  transition: 0.3s;
}

.questionsButtonSubmit {
  background-color: var(--secondaryColor);
  color: var(--fifthColor);
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

.questionsButtonSubmit:hover {
  color: var(--thirdColor);
  transition: 0.3s;
}

.questionsButton.selected {
  background-color: var(--fifthColor);
  color: var(--thirdColor);
  opacity: 1;
}

.questionsButton.correct:disabled {
  cursor: default;
  opacity: 0.6;
  background-color: green;
}

.questionsButton.incorrect:disabled {
  cursor: default;
  opacity: 0.6;
  background-color: red;
}

.questionsButton:hover:not(.selected):not(:disabled) {
  background-color: var(--secondaryColor);
  transition: 0.3s;
}
