.questionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  flex-wrap: wrap;
  max-width: 900px;
  text-align: center;
  margin: auto;
}

.questionsOptionsContainer {
  display: flex;
  justify-content: center;
}

.questionsButton {
  background-color: rgb(46, 44, 44);
  opacity: 0.7;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

.questionsButton.selected {
  background-color: black;
  opacity: 1;
}

.questionsButton.selected.correct {
  background-color: green;
  color: white;
}

.questionsButton.selected.incorrect {
  background-color: red;
  color: white;
}

.questionsButton:hover:not(.selected):not(:disabled) {
  background-color: black;
  opacity: 1;
}

.questionsButton:disabled {
  cursor: default;
  background-color: rgb(46, 44, 44);
  opacity: 0.7;
}
