.navbar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 30px;
  background-color: var(--primaryColor);
  color: var(--fifthColor);
}

.navbarSocialMedia {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.linkedinIcon {
  color: var(--fifthColor);
}

.linkedinIcon:hover {
  color: #0a66c2;
  transition: 0.3s;
}

.githubIcon {
  color: var(--fifthColor);
}

.githubIcon:hover {
  color: grey;
  transition: 0.3s;
}
