.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: var(--primaryColor);
  color: var(--fifthColor);
  list-style-type: none;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    padding-top: 45px;
    font-size: 13px;
  }
}

.navbar ul {
  list-style-type: none;
}

.navbarSocialMedia {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.linkedinIcon {
  color: var(--fifthColor);
}

.linkedinIcon:hover {
  color: #0a66c2;
  transition: 0.3s;
}

.githubIcon {
  color: var(--fifthColor);
}

.githubIcon:hover {
  color: grey;
  transition: 0.3s;
}
